<?xml version="1.0"?>
<CFProjPrefs xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <projectPath>F:/CRNT_PROJECTS/Unity_2022/MigWeldingWebGl/Assets</projectPath>
  <isIsntalled>true</isIsntalled>
  <wasShown>true</wasShown>
  <installedVer>1</installedVer>
</CFProjPrefs>